.realbody{
    height: 100%;
    width: 100%;
    background-image: linear-gradient(rgb(221, 254, 255), rgb(205, 230, 231));
}
.workBlock{
    padding-top: 200px;
    padding-left: 10%;
    padding-right: 10%;
    height: 90vh;
}

.yearTitle{
    border-top: 3px solid rgb(247, 137, 137);
}

.paginationBttns {
    bottom: 0px;
    list-style: none;
    left: 40%;
    display: flex;
    justify-content: center;
  
    color: white;
    bottom: 0px;
  }

@media only screen and (max-width: 480px) {
    .workBlock {
        padding-top: 250px;
    }
  }
  
@media only screen and (max-width: 480px) {
    .workBlock {
        padding-top: 250px;
    }
  }